selector {
    propiedad: valor;
}*/

* {
    box-sizing: border-box;
    color: #1A0701;
}
 body {
    background-color: #F2FDFF;
 }  
header h1{
    background-color: rgb(43, 255, 0);
}
 nav{
    background-color: white;
 }
 nav a{
    text-decoration: none;
    background-color: #036473;
    color: white;
 }
 footer{
    background-color: #F2C680;
 }
