
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-shadow: olivedrab;
}
nav ul {
  justify-content: center;
  grid-area: nav; 
  padding: 10px;
  display: flex;
  list-style: none
}
nav a {
 
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  background-color: #00948d;
  justify-content: center;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
nav ul li a {
   
  color: white;
}
nav a:hover {
  
  background-color: #18d6f8;
  margin: 11px;
  border-radius: 8px;
}
footer {
  background: #a1a1a1;
  padding: 3rem 0;
  
}
footer ul {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
  list-style:none;
  margin: 0%;
  padding: 0%;
  color: #222;
   font-weight: 500;
}
footer a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.4s ease ;
}

footer a:hover {
  color: #41E51D;
  text-decoration: underline;
  text-decoration: none;
}