* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root {
  --background-color: linear-gradient(

  )
}
.encabezado {
    display: flex;
    justify-content: space-between;
 }
.encabezado {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;               
   background: linear-gradient(to right, white 30%, #f1c40f 70%);   
   box-shadow: 0 15px 20px #b18d00;
   border-radius: 0px 0px 0px 40px;
}
.logo {
    height: 60px; 
    width: auto;
}
nav ul {
    display: flex;
    list-style: none;              
    margin: 0;
    padding: 0;
    gap: 20px;                    
}
nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
nav ul li a:hover {
    color: #f1620f;               
}

footer {
    background: #3a3a38;
    color: #ddd;
    padding: 45px 20px 30px;
    text-align: center;
}

.footer-contenido h3 {
    font-size: 1.3rem;
    margin-bottom: 22px;
    color: #f1c40f ;
}
.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.redes a {
    font-weight: 500;
    transition:all 0.3s ease;
    padding: 6px 12px;
    border-radius: 6px;
}

.redes a:hover {
    color: #FFDE21;
    background: rgba(241, 196, 15, 0.1);
}

.copyright {
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px;
}