* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--gris-oscuro);
    background-color: #fafafa;
    line-height: 1.6;
    overflow-x: hidden;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
    justify-content: center;
     background: linear-gradient(to right, #ffffff 25%, red 100%);
}
header {
    display: flex;
     background: linear-gradient(to right, #ffffff 25%, red 100%);
}
footer {
  background: #a1a1a1;
  padding: 3rem 0;
  
}
footer ul {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
  list-style:none;
  margin: 0%;
  padding: 0%;
  color: #222;
   font-weight: 500;
}
footer a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.4s ease ;
}

footer a:hover {
  color: #41E51D;
  text-decoration: underline;
  text-decoration: none;
}